body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  background-color: rgba(26, 24, 24, 0.132);
  /* width: 50px; */
}

::-webkit-scrollbar-thumb {
  background: rgb(40, 37, 37);
  border: 4px solid transparent;
  border-radius: 10px;
  background-clip: content-box;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(237, 30, 30, 0);
  ;
}