.app-background {
    height: 100vh;
    width: 100vw;
    background-image: url("../../assets/landing-page/lp-2.jpg");
    background-size: cover;
    background-position: center;
}

.landing-page{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.9fr;
    background-color: #1a323275;
}



.app-body{
    /* background-color: #324e4e87; */
    /* background-color: #3a9f9f; */
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
}

.grid-col-logo{
    /* background-color: #FFFFFF; */
    display: flex;
    align-items: center;
    padding-left: 70px;
    padding-top:19vh;
}

.logo-page-placeholder{
    /* background-color: #3d3c42c6 ; */
    padding: 20px;
    border-radius: 5px;
}

.logo-page-title{
    margin: 0px;
    padding: 0px;
    
    font-size: 80px;
    color: #FFFFFF;

    letter-spacing: 5px;
}
.logo-page-title-small {
    margin: 0px;
    padding: 0px;

    font-size: 38px;
    color: #FFFFFF;

    letter-spacing: 5px;
    margin-bottom: 10px;
}
.logo-page-slur{
    margin: 0px;
    padding: 0px;

    font-size: 15px;
    color: #FFFFFF;
}

.grid-col-form {
    /* background-color: #FFFFFF; */
    display: flex;
    align-items: start;
    justify-content: center;
    /* padding-bottom: 10vh; */
}
.form-placeholder-register{
    height: 80vh;
    width: 400px;
    /* background-color: rgba(43, 43, 47, 0.877); */
    background-color: rgba(43, 43, 47, 0.771);
    border-radius: 17px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0vh;
}
/* .form-placeholder-padding-bottom{
    height: 100%;
    padding-bottom: 0vh;
    background-color: antiquewhite;
} */


.hide {
    opacity: 100%;
}
.app-navbar-slide-up {
    transform: translateY(-100px);
    transition: 0.8s;
    opacity: 0%;
}
.app-navbar-slide-down {
    transform: translateY(0px);
    transition: 0.8s;
    opacity: 100%;
}

