.infographics-div{
    /* background-color: antiquewhite; */
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: start;
}
.info-count{
    display: flex;
    justify-content: start;
    align-items: end;
    width: 40%;
    /* background-color: rgb(232, 161, 73);  */
    padding-left: 20px;
    height: 100%;
    padding-bottom: 5px;
}
.info-bar {
    display: flex;
    width: 80%;
    height: 80%;
    /* background-color: rgb(82, 50, 11); */
    display: flex;
    justify-content: start;
    align-items: end;
}
.bar {
    height: 80%;
    width: 80%;
    background-color: #ffffff1b;
    border-radius: 4px;
    border: 0.75px solid #ffffff7d;
}
.bar-thumb{
    height: 100%;
    /* background-color: #fffffff8; */
    background-color: rgba(36, 80, 69, 0.826);
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.bar-thumb-text{
    margin: 0px;
    padding: 0px;
    letter-spacing: 2px;
    color: #ffffffcb;
    /* font-size: 10px; */
}
.info-job-count-text{
    margin: 0px;
    padding: 0px;
    font-size: 50px;
    margin-right: 15px;
    color: #ffffffe2;
    
}
.info-job-count-label-text {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    color: #ffffffe2;
    align-self: center;
}
.table-decks {
    width: 400px;
}