.profile-board {
    background-color: rgba(43, 43, 47, 0.428);
    height: 100%;
    width:93%;
    /* padding-inline: 10px; */
    
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: auto;
}

.infographics {
    /* background-color: rgba(0, 255, 255, 0.47); */
    height: 90px;
    width: 100%;
}
.button-bar {
    /* background-color: rgb(24, 81, 81); */
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: end;
    padding-bottom: 10px;

}
.profile-placeholder{
    /* background-color: rgba(0, 255, 255, 0.207); */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}
.card-decks{
    width: 96%;
    /* background-color: blue; */
    max-height: 65vh;;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    column-gap: 0px;
    row-gap: 15px;
    overflow: auto;
    padding: 8px;
}
.table-decks-profile {
    width: 100%;
    /* background-color: bisque; */
    max-height: 65vh;
    overflow: auto;
    max-width: 47vw;
    /* padding: 8px; */
}

.profile-title-text{
    color: #ffffffd0;
    letter-spacing: 4px;
}
