.button-bar-div{
    margin-left: 20px;
    /* background-color: rgba(24, 81, 81, 0.46); */
    border-radius: 3px;
}
.bar-button{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgba(32, 35, 35, 0.791);
    padding: 5px;
    padding-inline: 13px;
    color: #ffffffc4;
}
.bar-button:active{
    background-color: rgba(73, 75, 75, 0.881);
    border-radius: 4px; 
}
.bar-button-left{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.bar-button-right {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}